#characterContainer{
  //height: 100%;

  #menuPanel{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    button{
      width: 15vw;
      font-size: 2vh;
    }
  }

  #panel1{

  }

  #panel2{
    table {
      background-image: url("/assets/images/VaultBoy.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 24vw;
      text-align: center;
    }
    th, td{
      background-color: rgba(0, 0, 0, 0.6);
      height: 2vh;
      width: 5vw;
      border: 1px solid greenyellow;
      input{
        width: 2vw;
        text-align: center;
      }
    }
  }

  #panel3{
    th{
      border-bottom: 1px solid;
      border-color: greenyellow;
    }
    td{
      border-left: 1px solid;
      border-bottom: 1px solid;
      border-color: greenyellow;

    }
    input{
      height: 1.5em;
      font-size:medium;
      color: greenyellow;
      background-color: black;
      border: 0;
    }
    .name{
      text-align: center;
    }
    .rank{
      width: 2vw;
      text-align: center;
    }
    .desc{
      width: 60vw;
      padding-left: 5px;
    }
    .del{
      width: 10vw;
    }
  }
}

#command{
  padding-top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  button{
    padding: 2px;
    margin: 2px;
    font-size: 1.8vw;
    height: 3vw;
    width: 25vw;
  }
}

#connexionNeed{
  font-size: 3vh;
  padding: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  button{
    width: 10vh ;
    font-size: 3vh;
  }
}
