<div *ngIf="player.role !='admin'" id="characterContainer">
  <img src=".\assets\images\FichePerso1.png">
  <img src=".\assets\images\FichePerso2.png">
  <img src=".\assets\images\FichePerso3.png">
  <img src=".\assets\images\FichePerso4.png">
</div>


<div *ngIf="player.role =='admin'">
  <div id="command">
    <button (click)="createTeam()">Créer une nouvelle équipe</button>
    <button (click)="createCharacter()">Créer un nouveau personnage</button>
  </div>
  <div>
    <h3>Liste des équipes :</h3>
    <ul>
      <li *ngFor="let team of teams" >{{team.name}} <button (click)="deleteTeam(team.name)">Supprimer</button></li>
    </ul>
  </div>
</div>


<div *ngIf="!player.pseudo" id="connexionNeed">
  <p>Vous devez être connecté pour pouvoir accéder à cette page !</p>
  <button [routerLink]="['/home']" routerLinkActive="router-link-active" >Accueil</button>
</div>
