#characterContainer{
  height: 100%;

  #menuPanel{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    button{
      width: 15vw;
      font-size: 2vh;
    }
  }

  #panel1{

  }

  #panel2{
    table {
      background-image: url("/assets/images/VaultBoy.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 72vw;
      text-align: center;
    }
    th, td{
      background-color: rgba(0, 0, 0, 0.6);
      height: 5vh;
      width: 6vw;
      border: 1px solid greenyellow;
    }
  }
}

#command{
  padding-top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  button{
    padding: 2px;
    margin: 2px;
    font-size: 1.8vw;
    height: 3vw;
    width: 25vw;
  }
}

#connexionNeed{
  font-size: 3vh;
  padding: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  button{
    width: 10vh ;
    font-size: 3vh;
  }
}
