<div *ngIf="player.team !='admin'" id="characterContainer">
  <div id="menuPanel">
    <button (click)="activePanel = 1">Caractèristiques generales</button>
    <button (click)="activePanel = 2">État / armes / armures</button>
    <button (click)="activePanel = 3">Talents</button>
    <button (click)="activePanel = 4">Inventaire</button>
    <button (click)="activePanel = 5">Histoire Réputation</button>
  </div>
  <button (click)="save()">Enregistrer les changements</button>

  <!-- Panel des caractéristiques générales -->
  <div *ngIf="activePanel == 1" id="panel1">
    <p>Nom : <input type="text" [(ngModel)]="character.name"></p>
    <p>Niveau : <input type="text" [(ngModel)]="character.level"></p>
    <p>Expérience : <input type="text" [(ngModel)]="character.xp"> / <input type="text" [(ngModel)]="character.xpToNext"></p>
    <!-- Tableau des attributs -->
    <table>
      <tr>
        <th>Force</th>
        <th>Perception</th>
        <th>Endurance</th>
        <th>Charisme</th>
        <th>Intelligence</th>
        <th>Agilité</th>
        <th>Chance</th>
        <th>Points de Chance</th>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="character.attributes.strength"></td>
        <td><input type="text" [(ngModel)]="character.attributes.perception"></td>
        <td><input type="text" [(ngModel)]="character.attributes.endurance"></td>
        <td><input type="text" [(ngModel)]="character.attributes.charisme"></td>
        <td><input type="text" [(ngModel)]="character.attributes.intelligence"></td>
        <td><input type="text" [(ngModel)]="character.attributes.agility"></td>
        <td><input type="text" [(ngModel)]="character.attributes.luck"></td>
        <td><input type="text" [(ngModel)]="character.attributes.luckPoints"></td>
      </tr>
    </table>
    <!-- Tableau des compétences -->
    <table>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.athletics"></td><td><input type="text" [(ngModel)]="character.skills.athleticslvl"></td><th>Athlétisme</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.lockpicking"></td><td><input type="text" [(ngModel)]="character.skills.lockpickinglvl"></td><th>Crochetage</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.speech"></td><td><input type="text" [(ngModel)]="character.skills.speechlvl"></td><th>Discours</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.stealth"></td><td><input type="text" [(ngModel)]="character.skills.stealthlvl"></td><th>Discrétion</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.medecine"></td><td><input type="text" [(ngModel)]="character.skills.medecinelvl"></td><th>Médecine</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.driving"></td><td><input type="text" [(ngModel)]="character.skills.drivinglvl"></td><th>Pilotage</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.repair"></td><td><input type="text" [(ngModel)]="character.skills.repairlvl"></td><th>Réparation</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.science"></td><td><input type="text" [(ngModel)]="character.skills.sciencelvl"></td><th>Science</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.survival"></td><td><input type="text" [(ngModel)]="character.skills.survivallvl"></td><th>Survie</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.bartering"></td><td><input type="text" [(ngModel)]="character.skills.barteringlvl"></td><th>Troc</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.game"></td><td><input type="text" [(ngModel)]="character.skills.gamelvl"></td><th>Jeux</th>
      </tr>
    </table>
    <!-- Tableau des compétences de combats -->
    <table>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.bareHands"></td><td><input type="text" [(ngModel)]="character.skills.bareHandslvl"></td><th>À main nues</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.meleeWeapon"></td><td><input type="text" [(ngModel)]="character.skills.meleeWeaponlvl"></td><th>Arme de mélée</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.lightWeapon"></td><td><input type="text" [(ngModel)]="character.skills.lightWeaponlvl"></td><th>Arme légères</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.heavyWeapon"></td><td><input type="text" [(ngModel)]="character.skills.heavyWeaponlvl"></td><th>Arme lourdes</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.energieWeapon"></td><td><input type="text" [(ngModel)]="character.skills.energieWeaponlvl"></td><th>Arme à énergie</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.throwingWeapon"></td><td><input type="text" [(ngModel)]="character.skills.throwingWeaponlvl"></td><th>Arme de jet</th>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="character.skills.explosive"></td><td><input type="text" [(ngModel)]="character.skills.explosivelvl"></td><th>Explosifs</th>
      </tr>
    </table>
  </div>

  <!-- Panel de la santé du joueurs et des armes / armures équipées -->
  <div *ngIf="activePanel == 2" id="panel2">
    <p>Santé : <input type="text" [(ngModel)]="character.healthPoint"> / <input type="text" [(ngModel)]="character.healthPointMax"></p>
    <p>Santé mentale : <input type="text" [(ngModel)]="character.mentalHealthPoint"> / <input type="text" [(ngModel)]="character.mentalHealthPointMax"></p>
    <p>Defense : <input type="text" [(ngModel)]="character.defence"></p>
    <p>Résistance au poison : <input type="text" [(ngModel)]="character.poisonResilience"></p>
    <p>Initiative : <input type="text" [(ngModel)]="character.initiative"></p>
    <p>Bonus de mélée : <input type="text" [(ngModel)]="character.meleeBonus"></p>

    <table>
      <tr>
        <td colspan="4" rowspan="3"></td><td colspan="4">Tête ( 1 - 2 )</td><td colspan="4" rowspan="3"></td>
      </tr>
      <tr>
        <td>Résistance physique</td><td><input type="text" [(ngModel)]="character.bodyParts[0].physicalResilience"></td>
        <td>Résistance radiation</td><td><input type="text" [(ngModel)]="character.bodyParts[0].radiationResilience"></td>
      </tr>
      <tr>
        <td>Résistance énergétique</td><td><input type="text" [(ngModel)]="character.bodyParts[0].energyResilience"></td>
        <td>Santé AA ?</td><td><input type="text" [(ngModel)]="character.bodyParts[0].healthResilience"></td>
      </tr>
      <tr>
        <td colspan="4">Bras gauche ( 9 - 11 )</td><td colspan="4" rowspan="3"></td><td colspan="4">Bras droit ( 12 - 14 )</td>
      </tr>
      <tr>
        <td>Résistance physique</td><td><input type="text" [(ngModel)]="character.bodyParts[1].physicalResilience"></td>
        <td>Résistance radiation</td><td><input type="text" [(ngModel)]="character.bodyParts[1].radiationResilience"></td>
        <td>Résistance physique</td><td><input type="text" [(ngModel)]="character.bodyParts[2].physicalResilience"></td>
        <td>Résistance radiation</td><td><input type="text" [(ngModel)]="character.bodyParts[2].radiationResilience"></td>
      </tr>
      <tr>
        <td>Résistance énergétique</td><td><input type="text" [(ngModel)]="character.bodyParts[1].energyResilience"></td>
        <td>Santé AA ?</td><td><input type="text" [(ngModel)]="character.bodyParts[1].healthResilience"></td>
        <td>Résistance énergétique</td><td><input type="text" [(ngModel)]="character.bodyParts[2].energyResilience"></td>
        <td>Santé AA ?</td><td><input type="text" [(ngModel)]="character.bodyParts[2].healthResilience"></td>
      </tr>
      <tr>
        <td colspan="4" rowspan="3"></td><td colspan="4">Torse ( 3 - 8 )</td><td colspan="4" rowspan="3"></td>
      </tr>
      <tr>
        <td>Résistance physique</td><td><input type="text" [(ngModel)]="character.bodyParts[3].physicalResilience"></td>
        <td>Résistance radiation</td><td><input type="text" [(ngModel)]="character.bodyParts[3].radiationResilience"></td>
      </tr>
      <tr>
        <td>Résistance énergétique</td><td><input type="text" [(ngModel)]="character.bodyParts[3].energyResilience"></td>
        <td>Santé AA ?</td><td><input type="text" [(ngModel)]="character.bodyParts[3].healthResilience"></td>
      </tr>
      <tr>
        <td colspan="4">Jambe gauche ( 15 - 17 )</td><td colspan="4" rowspan="3"></td><td colspan="4">Jambe droite ( 18 - 20 )</td>
      </tr>
      <tr>
        <td>Résistance physique</td><td><input type="text" [(ngModel)]="character.bodyParts[4].physicalResilience"></td>
        <td>Résistance radiation</td><td><input type="text" [(ngModel)]="character.bodyParts[4].radiationResilience"></td>
        <td>Résistance physique</td><td><input type="text" [(ngModel)]="character.bodyParts[5].physicalResilience"></td>
        <td>Résistance radiation</td><td><input type="text" [(ngModel)]="character.bodyParts[5].radiationResilience"></td>
      </tr>
      <tr>
        <td>Résistance énergétique</td><td><input type="text" [(ngModel)]="character.bodyParts[4].energyResilience"></td>
        <td>Santé AA ?</td><td><input type="text" [(ngModel)]="character.bodyParts[4].healthResilience"></td>
        <td>Résistance énergétique</td><td><input type="text" [(ngModel)]="character.bodyParts[5].energyResilience"></td>
        <td>Santé AA ?</td><td><input type="text" [(ngModel)]="character.bodyParts[5].healthResilience"></td>
      </tr>
    </table>

    <table>
      <tr>
        <th>Nom</th>
        <th>TN</th>
        <th>DC</th>
        <th>Physique</th>
        <th>Energétique</th>
        <th>Radiation</th>
        <th>Poison</th>
        <th>Effet</th>
        <th>Propriété</th>
        <th>Cadence</th>
        <th>Portée</th>
        <th>Munition</th>
        <th>Poids</th>
      </tr>
      <tr *ngFor="let weapon of character.weapons">
        <td><input type="text" [(ngModel)]="weapon.name"></td>
        <td><input type="text" [(ngModel)]="weapon.tN"></td>
        <td><input type="text" [(ngModel)]="weapon.dC"></td>
        <td><input type="checkbox" [(ngModel)]="weapon.physicalDamage"></td>
        <td><input type="checkbox" [(ngModel)]="weapon.energyDamage"></td>
        <td><input type="checkbox" [(ngModel)]="weapon.radiationDamage"></td>
        <td><input type="checkbox" [(ngModel)]="weapon.poisonDamage"></td>
        <td><input type="text" [(ngModel)]="weapon.effects"></td>
        <td><input type="text" [(ngModel)]="weapon.proprieties"></td>
        <td><input type="text" [(ngModel)]="weapon.rateOfFire"></td>
        <td><input type="text" [(ngModel)]="weapon.range"></td>
        <td><input type="text" [(ngModel)]="weapon.ammo"></td>
        <td><input type="text" [(ngModel)]="weapon.weigth"></td>
      </tr>
    </table>

  </div>

  <!-- Panel des compétences -->
  <div *ngIf="activePanel == 3" id="panel3">
    <table>
      <tr>
        <th>Nom</th><th>Rang</th><th>Effet</th>
      </tr>
      <tr *ngFor="let perk of character.perks">
        <td><input type="text" [(ngModel)]="perk.name" class="name"></td>
        <td><input type="text" [(ngModel)]="perk.rank" class="rank"></td>
        <td><input type="textarea" [(ngModel)]="perk.effect" class="desc"></td>
      </tr>
    </table>
  </div>

  <!-- Panel de l'inventaire -->
  <div *ngIf="activePanel == 4" id="panel4">
    <p>Capsule : <input type="text" [(ngModel)]="character.caps"></p>
    <p>Poids :
      {{totalWeigth()}}
      / <input type="text" [(ngModel)]="character.maxWeight"></p>

    <div>
      <h2>Munitions :</h2>
      <table>
        <tr>
          <th>Nom</th><th>Quantité</th><th>Poids / u</th><th>Poids total</th>
        </tr>
        <tr *ngFor="let item of character.inventories.ammos">
          <td><input type="text" [(ngModel)]="item.name"></td>
          <td><input type="text" [(ngModel)]="item.quantity"></td>
          <td><input type="text" [(ngModel)]="item.weight"></td>
          <td><p>{{item.quantity*item.weight}}</p></td>
        </tr>
      </table>
    </div>

    <div>
      <h2>Produits chimiques :</h2>
      <table>
        <tr>
          <th>Nom</th><th>Quantité</th><th>Poids / u</th><th>Poids total</th>
        </tr>
        <tr *ngFor="let item of character.inventories.chemicals">
          <td><input type="text" [(ngModel)]="item.name"></td>
          <td><input type="text" [(ngModel)]="item.quantity"></td>
          <td><input type="text" [(ngModel)]="item.weight"></td>
          <td><p>{{item.quantity*item.weight}}</p></td>
        </tr>
      </table>
    </div>

    <div>
      <h2>Boissons :</h2>
      <table>
        <tr>
          <th>Nom</th><th>Quantité</th><th>Poids / u</th><th>Poids total</th>
        </tr>
        <tr *ngFor="let item of character.inventories.drinks">
          <td><input type="text" [(ngModel)]="item.name"></td>
          <td><input type="text" [(ngModel)]="item.quantity"></td>
          <td><input type="text" [(ngModel)]="item.weight"></td>
          <td><p>{{item.quantity*item.weight}}</p></td>
        </tr>
      </table>
    </div>

    <div>
      <h2>Equipements :</h2>
      <table>
        <tr>
          <th>Nom</th><th>Quantité</th><th>Poids / u</th><th>Poids total</th>
        </tr>
        <tr *ngFor="let item of character.inventories.equipements">
          <td><input type="text" [(ngModel)]="item.name"></td>
          <td><input type="text" [(ngModel)]="item.quantity"></td>
          <td><input type="text" [(ngModel)]="item.weight"></td>
          <td><p>{{item.quantity*item.weight}}</p></td>
        </tr>
      </table>
    </div>

    <div>
      <h2>Nourritures :</h2>
      <table>
        <tr>
          <th>Nom</th><th>Quantité</th><th>Poids / u</th><th>Poids total</th>
        </tr>
        <tr *ngFor="let item of character.inventories.foods">
          <td><input type="text" [(ngModel)]="item.name"></td>
          <td><input type="text" [(ngModel)]="item.quantity"></td>
          <td><input type="text" [(ngModel)]="item.weight"></td>
          <td><p>{{item.quantity*item.weight}}</p></td>
        </tr>
      </table>
    </div>

    <div>
      <h2>Matériaux :</h2>
      <table>
        <tr>
          <th>Nom</th><th>Quantité</th><th>Poids / u</th><th>Poids total</th>
        </tr>
        <tr *ngFor="let item of character.inventories.materials">
          <td><input type="text" [(ngModel)]="item.name"></td>
          <td><input type="text" [(ngModel)]="item.quantity"></td>
          <td><input type="text" [(ngModel)]="item.weight"></td>
          <td><p>{{item.quantity*item.weight}}</p></td>
        </tr>
      </table>
    </div>

  </div>

  <!-- Panel de l'histoire du personnage et de ses réputations -->
  <div *ngIf="activePanel == 5" id="panel5">
    <p>Origine de {{character.name}} : <input type="text" [(ngModel)]="character.origin"></p>
    <p>Background : <br> <input type="textarea" [(ngModel)]="character.background"></p>
    <table>
      <tr>
        <th>Rang</th><th>Nom</th>
      </tr>
      <tr *ngFor="let rep of character.reputations">
        <td><input type="text" [(ngModel)]="rep.rank"></td>
        <td><input type="text" [(ngModel)]="rep.name"></td>
      </tr>
    </table>
  </div>

</div>


<div *ngIf="player.team =='admin'">
  <div id="command">
    <button (click)="createTeam()">Créer une nouvelle équipe</button>
    <button (click)="createPlayer()">Créer un nouveau personnage</button>
  </div>
  <div>
    <h3>Liste des équipes :</h3>
    <ul>
      <li *ngFor="let team of teams" >{{team.name}} <button (click)="deleteTeam(team.name)">Supprimer</button></li>
    </ul>
  </div>
  <div>
    <h3>Liste des joueurs :</h3>
    <ul>
      <li *ngFor="let player of players" >{{player.pseudo}} - {{player.team}}</li>
    </ul>
  </div>
</div>


<div *ngIf="!player.pseudo" id="connexionNeed">
  <p>Vous devez être connecté pour pouvoir accéder à cette page !</p>
  <button [routerLink]="['/home']" routerLinkActive="router-link-active" >Accueil</button>
</div>
