<h2 mat-dialog-title>Création d'une nouvelle règle dans le dossier : {{data}}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Nom du dossier" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Lien du dossier !!! utilise 1 seul mot, qui servira uniquement pour la base de donnée !!!" formControlName="shortDescription" id="mon-dialog">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
