<h2 mat-dialog-title>Aperçu de la mission</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ShortDescription" formControlName="shortDescription">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Status" formControlName="status">
    </mat-form-field>
    <ul>
      <li *ngFor="let player of data.concernedPlayer">{{player.name}}</li>
    </ul>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
