<div id="nav" *ngIf="player.pseudo">
  <button [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button>
  <button [routerLink]="['/rule']" routerLinkActive="router-link-active" >Rules</button>
  <button [routerLink]="['/character']" routerLinkActive="router-link-active" >Character</button>
  <button [routerLink]="['/mission']" routerLinkActive="router-link-active" >Mission</button>
  <button [routerLink]="['/data']" routerLinkActive="router-link-active" >Data</button>
  <button [routerLink]="['/map']" routerLinkActive="router-link-active" >Map</button>
  <button [routerLink]="['/radio']" routerLinkActive="router-link-active" >Radio</button>
</div>
