<div id="nav">
  <button [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button>
  <button [routerLink]="['/manual']" routerLinkActive="router-link-active" >Manual</button>
  <button [routerLink]="['/team']" routerLinkActive="router-link-active" >Team</button>
  <button [routerLink]="['/mission']" routerLinkActive="router-link-active" >Mission</button>
  <button [routerLink]="['/data']" routerLinkActive="router-link-active" >Data</button>
  <button [routerLink]="['/map']" routerLinkActive="router-link-active" >Map</button>
  <button [routerLink]="['/radio']" routerLinkActive="router-link-active" >Radio</button>
</div>
