<div *ngIf="player.pseudo">

  <div *ngIf="player.role =='admin'">
    <div id="createButton">
      <button (click)="create()">Rajouter une règle</button>
    </div>
    <div cdkDropList class="ruleslist" (cdkDropListDropped)="drop($event)">
      <div class="rulesbox" *ngFor="let rule of rules" cdkDrag>
        <a id="ruletitle">{{rule.name}}</a><a id="ruledescription">{{rule.shortDescription}}</a>
        <button (click)="modify(rule)">Modification</button>
        <button (click)="delete(rule.id)">Supprimer</button>
      </div>
    </div>
  </div>

  <div *ngIf="player.role !='admin'">
    <ul>
      <li *ngFor="let rule of rules" >{{rule.name}} - {{rule.shortDescription}}</li>
    </ul>
  </div>

</div>

<div *ngIf="!player.pseudo" id="connexionNeed">
  <p>Vous devez être connecté pour pouvoir accéder à cette page !</p>
  <button [routerLink]="['/home']" routerLinkActive="router-link-active" >Accueil</button>
</div>
