<div id="textintro">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac pulvinar massa. Nulla quam nunc, ornare eu ligula sed, rutrum mattis odio. Nulla in ligula posuere, rhoncus tortor non, finibus est. Maecenas fermentum nisi a leo vestibulum, quis viverra risus consequat. Curabitur ut augue eget nisi viverra tempor eget vel mi. Aliquam a diam rhoncus, semper mauris in, aliquam lacus. Aenean facilisis nunc ut dapibus tristique. Fusce iaculis metus eget cursus gravida.
  </p>
  <p>
    Duis eget eleifend orci, eget porta dolor. Etiam elit orci, rutrum ut suscipit at, accumsan vitae nibh. Proin sed egestas magna. Suspendisse potenti. Aliquam vel libero sed mauris venenatis ultrices non sed quam. Nam eget pellentesque magna. Etiam efficitur ex vitae mauris mollis luctus. Aenean non risus in sapien scelerisque volutpat id vel ex. Nunc tincidunt est quis bibendum molestie. Morbi id diam metus. Donec egestas leo ut turpis pellentesque placerat. Sed et accumsan diam. Ut dictum sollicitudin ipsum, et convallis turpis vulputate quis.
  </p>
  <p>
    Fusce sit amet orci vel orci faucibus semper. Cras ornare venenatis nibh vitae gravida. Aliquam eu tellus lacinia, lacinia erat eget, sagittis turpis. Duis ornare mauris ipsum, eget vehicula sapien interdum id. Phasellus et condimentum urna. Nulla vitae luctus nunc. Curabitur volutpat lacinia enim, non maximus massa vulputate eget. Cras nec faucibus mi, ac vulputate nulla.
  </p>
  <p>
    Donec ullamcorper enim quis elementum rutrum. Aliquam a bibendum massa. Praesent interdum turpis vitae nisl vestibulum, quis dignissim libero suscipit. Aliquam fermentum ligula vel purus pharetra consectetur ut sed enim. Proin volutpat gravida diam, vel iaculis est auctor at. Fusce at aliquet eros. Quisque sit amet suscipit felis, sit amet imperdiet magna. Cras dignissim consectetur nulla, vel mattis nunc convallis at.
  </p>
  <p>
    Aliquam sed enim ac mauris lacinia pharetra ac a nisi. Integer ullamcorper rhoncus rhoncus. Mauris justo ante, hendrerit vel tempor non, mollis in purus. Mauris interdum cursus lorem, at ullamcorper nulla porttitor nec. Suspendisse facilisis maximus arcu, et consequat sapien varius quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tempor rutrum urna iaculis malesuada. Nullam tincidunt ante quis nibh aliquet luctus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac pulvinar massa. Nulla quam nunc, ornare eu ligula sed, rutrum mattis odio. Nulla in ligula posuere, rhoncus tortor non, finibus est. Maecenas fermentum nisi a leo vestibulum, quis viverra risus consequat. Curabitur ut augue eget nisi viverra tempor eget vel mi. Aliquam a diam rhoncus, semper mauris in, aliquam lacus. Aenean facilisis nunc ut dapibus tristique. Fusce iaculis metus eget cursus gravida.
  </p>
  <p>
    Duis eget eleifend orci, eget porta dolor. Etiam elit orci, rutrum ut suscipit at, accumsan vitae nibh. Proin sed egestas magna. Suspendisse potenti. Aliquam vel libero sed mauris venenatis ultrices non sed quam. Nam eget pellentesque magna. Etiam efficitur ex vitae mauris mollis luctus. Aenean non risus in sapien scelerisque volutpat id vel ex. Nunc tincidunt est quis bibendum molestie. Morbi id diam metus. Donec egestas leo ut turpis pellentesque placerat. Sed et accumsan diam. Ut dictum sollicitudin ipsum, et convallis turpis vulputate quis.
  </p>
  <p>
    Fusce sit amet orci vel orci faucibus semper. Cras ornare venenatis nibh vitae gravida. Aliquam eu tellus lacinia, lacinia erat eget, sagittis turpis. Duis ornare mauris ipsum, eget vehicula sapien interdum id. Phasellus et condimentum urna. Nulla vitae luctus nunc. Curabitur volutpat lacinia enim, non maximus massa vulputate eget. Cras nec faucibus mi, ac vulputate nulla.
  </p>
  <p>
    Donec ullamcorper enim quis elementum rutrum. Aliquam a bibendum massa. Praesent interdum turpis vitae nisl vestibulum, quis dignissim libero suscipit. Aliquam fermentum ligula vel purus pharetra consectetur ut sed enim. Proin volutpat gravida diam, vel iaculis est auctor at. Fusce at aliquet eros. Quisque sit amet suscipit felis, sit amet imperdiet magna. Cras dignissim consectetur nulla, vel mattis nunc convallis at.
  </p>
  <p>
    Aliquam sed enim ac mauris lacinia pharetra ac a nisi. Integer ullamcorper rhoncus rhoncus. Mauris justo ante, hendrerit vel tempor non, mollis in purus. Mauris interdum cursus lorem, at ullamcorper nulla porttitor nec. Suspendisse facilisis maximus arcu, et consequat sapien varius quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tempor rutrum urna iaculis malesuada. Nullam tincidunt ante quis nibh aliquet luctus.
  </p>
  <p>
    Fusce sit amet orci vel orci faucibus semper. Cras ornare venenatis nibh vitae gravida. Aliquam eu tellus lacinia, lacinia erat eget, sagittis turpis. Duis ornare mauris ipsum, eget vehicula sapien interdum id. Phasellus et condimentum urna. Nulla vitae luctus nunc. Curabitur volutpat lacinia enim, non maximus massa vulputate eget. Cras nec faucibus mi, ac vulputate nulla.
  </p>
  <p>
    Donec ullamcorper enim quis elementum rutrum. Aliquam a bibendum massa. Praesent interdum turpis vitae nisl vestibulum, quis dignissim libero suscipit. Aliquam fermentum ligula vel purus pharetra consectetur ut sed enim. Proin volutpat gravida diam, vel iaculis est auctor at. Fusce at aliquet eros. Quisque sit amet suscipit felis, sit amet imperdiet magna. Cras dignissim consectetur nulla, vel mattis nunc convallis at.
  </p>
  <p>
    Aliquam sed enim ac mauris lacinia pharetra ac a nisi. Integer ullamcorper rhoncus rhoncus. Mauris justo ante, hendrerit vel tempor non, mollis in purus. Mauris interdum cursus lorem, at ullamcorper nulla porttitor nec. Suspendisse facilisis maximus arcu, et consequat sapien varius quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tempor rutrum urna iaculis malesuada. Nullam tincidunt ante quis nibh aliquet luctus.
  </p>
  <p>
    Fusce sit amet orci vel orci faucibus semper. Cras ornare venenatis nibh vitae gravida. Aliquam eu tellus lacinia, lacinia erat eget, sagittis turpis. Duis ornare mauris ipsum, eget vehicula sapien interdum id. Phasellus et condimentum urna. Nulla vitae luctus nunc. Curabitur volutpat lacinia enim, non maximus massa vulputate eget. Cras nec faucibus mi, ac vulputate nulla.
  </p>
  <p>
    Donec ullamcorper enim quis elementum rutrum. Aliquam a bibendum massa. Praesent interdum turpis vitae nisl vestibulum, quis dignissim libero suscipit. Aliquam fermentum ligula vel purus pharetra consectetur ut sed enim. Proin volutpat gravida diam, vel iaculis est auctor at. Fusce at aliquet eros. Quisque sit amet suscipit felis, sit amet imperdiet magna. Cras dignissim consectetur nulla, vel mattis nunc convallis at.
  </p>
  <p>
    Aliquam sed enim ac mauris lacinia pharetra ac a nisi. Integer ullamcorper rhoncus rhoncus. Mauris justo ante, hendrerit vel tempor non, mollis in purus. Mauris interdum cursus lorem, at ullamcorper nulla porttitor nec. Suspendisse facilisis maximus arcu, et consequat sapien varius quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tempor rutrum urna iaculis malesuada. Nullam tincidunt ante quis nibh aliquet luctus.
  </p>
</div>
<div id="connexion">
  <p *ngIf="player.pseudo">Vous êtes connecté en tant que {{player.pseudo}} - {{player.team}} <button (click)="logout()">se deco</button></p>
  <form *ngIf="!player.pseudo" [formGroup]="fg" (ngSubmit)="submit()">
    <a>Pseudo :</a>
    <input type="text" formControlName="pseudo">
    <a>Mot de passe :</a>
    <input type="password" formControlName="password">
    <button>Se connecter</button>
  </form>
</div>

